/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  justify-content: center;
  padding: 24px 156px;
}
.gallery {
  width: 1128px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
.sl-overlay {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  color: #ffff !important;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  width: 100%;
  color: #2e2f42;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.feedback-form input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-left: 16px;
}
.feedback-form textarea {
  height: 80px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px 8px;
}
.feedback-form input:hover {
  border-color: #000;
}
.feedback-form textarea:hover {
  border-color: #000;
}
.feedback-form input:focus {
  outline: none;
  border-color: #808080;
}
.feedback-form textarea:focus {
  outline: none;
  border-color: #808080;
}
.feedback-form button {
  min-width: 95px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;

  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}